.nav {
  height: 50px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  z-index:200
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 2rem;
  color: #0c1737;
  padding: 10px 10px 10px 10px;
  font-weight: 600;
  font-style: italic;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  /* float: right; */
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 20px 10px 13px 10px;
  text-decoration: none;
  color: #15234e;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}
.passion-btn {
  color: white;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid #15234e;
  background-color: #15234e;
}

.nav > .nav-links > a:hover {
  color: #43558d;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 960px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 13px;
    margin-top: 30px;
    margin-right: 50px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #fff;
  }
  .passion-btn {
    display: none !important;
  }
  .nav > .nav-links > a {
    color: #fff;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 50px;
    height: 15px;
    border-top: 5px solid #15234e;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #324375;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 90px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 10px);
    overflow-y: auto;
  }
}
